<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Corossover Java Assignment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
    <div class="container">
        <h1>All test exams</h1>
        <table>

        </table>
        <div class="list-group">
            <div th:each="item : ${exams}" class="list-group-item">
                <a th:text="${item.name}" th:href="|exam/${item.id}|" class="btn btn-link"></a>
                <span th:each="grade : ${grades[item.id]}" th:text="|${grade.user.fullname} (${grade.score} / ${item.totalScore} )|"
                      th:class="|label ${grade.passed == true ? 'label-success' : 'label-danger'}|">0</span>
            </div>
        </div>
    </div>
</body>
</html>