<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Corossover Java Assignment</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.2/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <h1 th:text="${exam.name}"></h1>
    <p th:text="${exam.description}"></p>

    <h1 th:if="${not #lists.isEmpty(missed_questions)}">Missed Questions</h1>
    <div class="list-group">
        <div th:each="question : ${missed_questions}" th:text="${question.title}" class="list-group-item"></div>
    </div>

    <form class="form-inline" method="post">
        <button type="submit" class="btn btn-primary">Submit Answers</button>
    </form>
</div>
</body>
</html>